<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>爱上你主播八强投票</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header>
            <img class="logo" src="img/logo.png" alt="logo" />
        </header>
        <section class="host-cards">
            <div v-for="(host, index) in hosts" :key="host.voicerID" class="card">
                <div @click="showFloat(index)" class="host-image" :style="{ backgroundImage: 'url(../img/profile_' + host.voicerID + '.jpg)' }">
                    <div class="host-detail">点击查看详情</div>
                </div>
                <div class="host-info">
                    <span class="host-name">{{ host.name }}</span>
                    <span @click="vote($event, index, false)" class="host-vote button" :class="{ 'voted': voted, 'selected': host.selected }">{{ voted ? host.voteCount + '票' : '投票' }}</span>
                </div>
            </div>
        </section>
        <transition name="fade">
            <div @click="closeFloat" v-if="floatShow" class="float">
                <div class="card">
                    <div class="card-image" :style="{ backgroundImage: 'url(../img/profile_' + introduction.voicerID + '.jpg)' }"></div>
                    <div class="card-info">
                        <div class="card-text">
                            <p>{{ introduction.name }}</p>
                            <p>{{ introduction.grade + '级' }}</p>
                            <p>{{ introduction.college }}</p>
                            <p>{{ introduction.introduction }}</p>
                        </div>
                        <div @click="vote($event, introduction.index, true)" class="card-vote button" class="host-vote button" :class="{ 'voted': voted, 'selected': introduction.selected }">{{ voted ? introduction.voteCount + '票' : '投票' }}</div>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <!--  For Development  -->
    <!-- <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script> -->
    <!--  For Production   -->
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>

    <script src="js/app.js"></script>
</body>

</html>